<%- include('partials/header'); -%>
    <div class="jumbotron">
        <h1 class="display-4">Home</h1>
        <p> <%= startingcontent %> </p>
    </div>
    <section class="main">
        <div class="container">
            <div class="row">
                <% posts.forEach((post)=>{ %>
                    <%    console.log(post.title); %>
                        <div class="col-md-3">
                            <div class="card my_card">
                                <img src="https://source.unsplash.com/random/600x314" class="img-fluid" alt="Banner">
                                <div class="card-body">
                                    <h3 class="card-title"><%= post.title %></h3>
                                    <p class="card-text"><%= post.content.substring(0,100) + "..." %></p>
                                    <p class="text-muted">Posted By <%= post.user %> on <%= post.datetime %> </p>
                                    <a href="/posts/<%=post.title%>" class="btn btn-sm btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                <%}) %>
            </div>
        </div>
    </section>
<%- include('partials/footer'); -%>